@import "_vars.less";

body {
    color: @main-color;
    background: @ambient-color;
    padding: 0;
    margin: 0;
}

.Page {
    padding: 0;
    div {
        padding: 0;
    }
}

.PropertyList {
    overflow: scroll;
    ul.properties {
        white-space: nowrap;
        list-style: none;
    }
    li.property {
        display: inline-block;
        height: 20vmin;
        width: 20vmin;
        border: solid 1px rgba(200,200,200,.8);
        cursor: pointer;
    }
}

.RoomList {
    li.room {
        list-style: none;
        cursor: pointer;
        height: 130px;
        width: 200px;
        border: solid 1px rgba(255,255,200,.8);
    }
}
