@import "_vars.less";

body {
    color: @main-color;
    background: @ambient-color;
    padding: 0;
    margin: 0;
}

.Page {
    padding: 0;
    div {
        padding: 0;
    }
}

.PropertyList {
    li.property {
        list-style: none;
        cursor: pointer;
    }
}

.Rooms {
    li.room {
        list-style: none;
        cursor: pointer;
    }
}
