@import "_vars.less";

body {
    color: @main-color;
    background: @ambient-color;
    padding: 0;
    margin: 0;
}

.Page {
    .test-border();
    padding: 0;
}

.PropertyList {
    .test-border();
    padding: 0;
}
